 <div align="center" style="border:1px solid blue;">
 <h4 style="color:blue">Login Page</h4>
 <h3>{{message}}</h3>
   <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <table>
          <tr>
              <td>UserId</td>
              <td><input type="text" formControlName="userId"></td>
                 <td>
                      <span *ngIf="submitted && formdata.controls.userId.errors?.required" style="color:red">User id is required</span>
                    </td> 
          </tr>
          <tr>
              <td>Password</td>
              <td><input type="password" formControlName="password"></td>
              <td> 
                  <span *ngIf="submitted && formdata.controls.password.errors?.required" style="color:red">password is required</span>
                </td>
          </tr>
          <tr align="center">
              <td colspan="3"><input type="submit" value="login"></td>
          </tr>
          <tr align="center">
              <td colspan="3">NewUser?<a href="/register">signup</a></td>
          </tr>
      </table>
  </form>
</div>
