<!-- <div style="border:2px solid blue;">
<div style="border-bottom:2px solid blue;" align="center">
  <h1>Welcome To Claims Management System App</h1>
  </div>
<div align="center">
  <h3>HOME PAGE</h3>
  <br />
  <nav>
    <h2>
    <button routerLink="/login" style="background-color:orangered;">Login</button>
    </h2>
  </nav>
  <br />
  <nav>
    <h2>
    <button routerLink="/register" style="background-color:purple;">register</button>
    </h2>
  </nav>
  <router-outlet></router-outlet>
</div> -->


<div style="border:1px solid rgb(16, 12, 236);">
  <h1 align="center" style="color:rgb(231, 78, 18)">Claims Management System</h1>
  <div align="left" style="color:blue">Welcome Dear User!</div><div align="right">
  <nav>
  <a  routerLink="/login">Login</a>|
  <a  routerLink="/">Logout</a>
  </nav>
  </div>
  </div>
  <router-outlet></router-outlet>