<h3>Raise Claim Request</h3>
<form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <table border="1">
        <tr>
            <td>Claim Info</td><td><input type="text" name="claim_Info" placeholder="Enter Claim Info" formControlName="claim_Info"></td>
        </tr>
        <tr>
            <td>Bill Amount</td><td><input type="number" name="bill_Amount"placeholder="Enter bill Amount" formControlName="bill_Amount"></td>
        </tr>
        <tr>
            <td>Claim Type</td><td><input type="text" name="claim_Type" placeholder="Enter Claim Type" formControlName="claim_Type"></td>
        </tr>
        <tr>
            <td>Claim Date</td><td><input type="date" name="claim_Date" placeholder="Enter Claim Date" formControlName="claim_Date"></td>
        </tr>
        <tr>
            <td>Insurance Plan<td><input type="text" name="insurance_Policy" placeholder="Enter Insurance Plan" formControlName="insurance_Policy"></td>
        </tr>
        <tr>
            <td>Member Id<td><input type="text" placeholder="Enter member Id" formControlName="member_Id" ngModel={{p1}}></td>
        </tr>
       
        <td><button (click)="onClickSubmit(formdata.value)" style="background-color:peru;">Request</button></td>
        <td><button style="background-color:gray;">Reset</button></td>   
    </table>
    <br />
</form>
<br />
<br />
<h3>{{msg}}</h3>
<br />
<button routerLink="/member/{{p1}}" style="background-color:purple;">Back</button>
