<!-- <h1>Blood Bank Management System!</h1>
<p>Blood Bank Management System (BBMS) is an online portal.
    BBMS is basically a system that helps donors/requestor to
    register themselves, check blood availability, search for donor,
    request blood as well as check the approval status of the requested blood,
    donate blood and check status of the blood donated. The administrator of the
    blood bank can approve donation of blood as well as approve blood to the requestor.</p>

<h4>The following are the few important modules in the system</h4>
<ol>
    <li>User registration</li>
    <li>Check blood availability/Donor availability</li>
    <li>Request blood and check status</li>
    <li>Donate blood and check status</li>
    <li>Approve/Reject request for donation/acquisition of Blood</li>
</ol>
<nav>
    <a routerLink="/home"><button>Home</button></a>
    </nav>
    <router-outlet></router-outlet> -->